body {
  background-color: #370617;
  margin: 0;
  height: 100vh;   
}
.block { 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    display: flex;
    margin: 20px;
    padding: 10px;
    width:480px;
    height: 160px;
    background-color: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.square {
    background-color: #9D0208;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    width: 78px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.square-size {
    width: 78px;
    height: 78px;
}
.font-box{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.container-1 {
    align-items: flex-end; 
}
.container-2 {
    justify-content: center;
    align-items: stretch;
}
.container-3 {
    justify-content: flex-end;
    align-items: center;
}
.container-4 {
    justify-content:space-between;
    align-items: flex-start;
}
.square-4-3 {
    align-self: flex-end;
}
.container-5 {
    align-items: baseline;
    justify-content: space-evenly;
}
.square-5-2 {
    height: 64px;
    justify-content: center;
}
.square-5-1,.square-5-3 {
    height: 105px;
    padding-top: 35px;
}
.container-6 {
    align-items: center;
    justify-content: center;
}
.square-6-2 {
    height: 78px;
    /* flex-basis: 156px; */
    flex-grow:0.5; 
}